body {
  margin: 0;
  padding: 3% 20%;
  background-color: black;
  height: 100vh;
  color: white;
  font-family: Outfit, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* header */

.head-logo a {
  text-decoration: none;
  font-family: "League Spartan";
  font-size: 40px;
  font-weight: 600;
  color: grey;
}

.head-logo:hover a {
  color: rgba(255, 255, 255, 0.978);
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.head-nav {
  display: flex;
  gap: 20px;
}

.head-nav a {
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

.head-nav a:hover {
  color: rgba(255, 255, 255, 0.978);
}

@media (max-width: 780px) {
  body {
    padding: 1% 2%;
  }
  .head-logo {
    font-size: 30px;
    font-weight: 500;
  }
  .head-nav {
    gap: 15px;
  }
  .head-nav a {
    font-size: 18px;
  }
}

/* hero section */

.hero-section {
  height: auto;
  display: flex;
  align-items: center;
}

.hero-section h3 {
  color: rgba(255, 255, 255, 0.978);
  font-family: "League Spartan";
  font-size: 70px;
  padding-top: 5%;
  font-weight: 800;
  margin: 0;
}

.hero-section h5 {
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  color: grey;
}

@media (max-width: 780px) {
  .hero-section h3 {
    font-size: 50px;
    font-weight: 700;
  }
  .hero-section h5 {
    font-size: 15px;
  }
}

/* content section */

.blog-content p {
  color: grey;
  text-align: justify;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.5em;
}

.blog-content li {
  color: grey;
  text-align: justify;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.5em;
}

.blog-content h4 {
  font-size: 40px;
  font-weight: 580;
}

.blog-content img {
  max-width: 100%;
}

.blog-content a {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.978);
  padding: 5px 10px;
  text-decoration: none;
  font-size: 20px;
}

.blog-content i {
  font-weight: 700;
}

@media (max-width: 780px) {
  .blog-content p,
  .blog-content li {
    font-size: 18px;
  }
  .blog-content h4 {
    font-size: 20px;
    font-weight: 350;
  }
  .blog-content a {
    font-size: 15px;
  }
}

/* footer section */
footer {
  text-align: center;
  color: grey;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  padding: 2rem;
}

@media (max-width: 780px) {
  footer {
    font-size: 18px;
    font-weight: 200;
  }
}
